.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-center {
  margin: auto;
}

.App-title {
  text-align: center;
}

.App-intro {
  text-align: center;
}