.choice {
    border-width: 0px;
    width: 25%;
    text-align: center;
    font-size: 36px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: whitesmoke;
    margin: auto;
}

.choice.won {
    background: rgb(163, 248, 163);
}

.choice.lost {
    background: rgb(255, 175, 175);
}