.choice {
    border-width: 0px;
    width: 500px;
    text-align: center;
    font-size: 36px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(230, 230, 230);
    margin: auto;
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .choice {
        width: 100%;
    }
}

.choice.won {
    background: rgb(163, 248, 163);
}

.choice.lost {
    background: rgb(255, 175, 175);
}

.choice:hover {
    background: rgb(204, 204, 204);
}